<div class="horizontal-container">
  <div class="vertical-container">
    <img id="logo" src="/assets/joyeuse.png" alt="Joyeuse Logo"/>
    <p id="title">JOYEUSE</p>
    <p>A Discord bot to help with scheduling raids, dungeons, grandmasters, trials, and other Destiny 2 endgame content in larger discords.</p>
    <p>Proudly serving <b>{{ metadataService.metadata?.counts?.servers || 'an unknown number of' }}</b> Discord servers, Joyeuse has helped schedule <b>{{ activities ? 'over ' + activities : 'many' }}</b> activities!</p>
    <p>Still under construction, general availability planned for Q2 2022.</p>
  </div>
</div>
