/* You can add global styles to this file, and also import other style files */
$logoBackground: #3A3A3C;

body {
  background-color: $logoBackground;
  color: #eee;
  font-family: Neue Haas Grotesk, sans-serif;
}

a {
  color: #bfa2f5;
}
