:host {
  display: flex;
}

.horizontal-container {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-around;
}

.vertical-container {
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  align-content: center;
  text-align: center;
}

#logo {
  height: 50vh;
  width: auto;
}

#title {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}
