#home {
  cursor: pointer;
}

.container {
  margin-top: 64px;
  height: auto;
  max-width: 100vw;
}

@media (max-width: 600px) {
  .container {
    margin-top: 56px;
  }
}

.fixed {
  position: fixed;
  top: 0;
}
